{% block category %}

{% if user.is_authenticated %}
  <button type="button" class="category-manage-btn btn btn__blue shadow px-3" data-toggle="modal" data-target="#category-manage-btn__ModalCenter">
    <i class="fas fa-pencil-alt"></i>
  </button>

  <div class="modal modal-category fade" id="category-manage-btn__ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">カテゴリを変更する</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-wrap">
            {% for category in categories %}
              <p class="category-item p-2">{{ category.name }}</p>
            {% endfor %}
          </div>
          <hr class="pb-3">

          <form class="row py-2 d-flex align-items-center justify-content-around" action="{% url 'restaurant:category_add' %}" method="POST">{% csrf_token %}
            <p class="col-2 badge__orange py-1">追加</p>
            <input class="col-4" name="add_category_form" type="text" required>
            <button type="submit" class="col-3 btn btn__orange">保存</button>
          </form>
          <hr>

          <form class="row py-2 d-flex align-items-center justify-content-around" action="{% url 'restaurant:category_ch' %}" method="POST">{% csrf_token %}
            <p class="col-2 badge__turquoise py-1">変更</p>
            <div class="col-4">
              <p class="mb-1">変更前の名前</p>
              <select class="w-100 py-2 mb-3">
                {% for category in categories %}
                  <option name="category_name" value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
              </select>
              <p class="mb-1">変更後の名前</p>
              <input type="text" name="ch_category_form" required>
            </div>
            <button type="submit" class="col-3 btn btn__turquoise">実行</button>
          </form>
          <hr>

          <form class="row py-2 d-flex align-items-center justify-content-around" action="{% url 'restaurant:category_del' %}" method="POST">{% csrf_token %}
            <p class="col-2 badge__grey py-1">削除</p>
            <input class="col-4" name="del_category_form" type="text" required>
            <button type="submit" class="col-3 btn btn__grey">実行</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}