{% extends 'restaurant/base.html' %}
{% load static %}

{% block content %}
<div class="wrapper w-100 pb-5">
  <div class="inner__wrapper m-auto py-5">
    <div class="board shadow beautify text-center my-5 py-4 px-5">
      <h4 class="text__bold">
        {% if request.path == '/login/' %}
          ログイン画面
        {% elif request.path == '/admin/login/' %}
          メニュー管理
        {% endif %}
      </h4>
      <div class="d-flex p-5 mx-5">
        <div class="pl-5">
          <img src="{% static 'img/restaurant/23aa513465e35ec74f57e01a3dd406a0 copy.jpg' %}" alt="Restaurant Logo" class="logo shadow">
        </div>
        <h5 class="m-auto">
          テスト店
        </h5>
      </div>
      <form method="POST">{% csrf_token %}
        <label>店名</label><br>
        <input name="username" class="px-3 mb-3"><br>
        <label>パスワード</label><br>
        <input type="password" name="password" class="px-3 mb-3">
        <div>
          <input type="checkbox">ログイン状態を保持する
        </div>
        <div class="pt-4">
          <a href="#">パスワードを忘れましたか？</a>
        </div>
        <div class="pt-5">
          <button type="submit" class="px-4 btn btn__blue shadow">ログイン</button>
        </div>
      </form>
    </div>
    <div class="pt-3 admin d-flex justify-content-between">
      <div>
        <div>
          {% if request.path == '/login/' %}
            <a href="#">メニューを作成・管理する</a>
          {% elif request.path == '/admin/login/' %}
            <a href="#">オーダー管理画面に戻る</a>
          {% endif %}
        </div>
        <div class="pt-2">
          <a href="#">お客様用ページをチェックする</a>
        </div>
      </div>
      <div>
        <a href="#">ヘルプセンター</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
