{% extends 'customer/base__next.html' %}
{% load static %}
{% load humanize %}

{% block inner__content %}
<section class="menu-list">
  <div class="d-flex flex-wrap">
    {% for cart in carts %}
      <form class="el__pointer mx-auto my-1 menu-item shadow" action="{% url 'customer:cart_detail' cart.menu.id %}" method="POST">{% csrf_token %}
        <button type="submit" class="w-100 h-100 p-0 focus" onclick="loading_show()">
          <img class="lazyload" data-src="{{ cart.menu.img.url }}" alt="Menu">
          <div class="text-box">
            <p class="text-left pl-2">{{ cart.menu.name }}</p>
            <p class="text-right pr-2">¥ {{ cart.menu.price | intcomma }}</p>
          </div>
          <p class="pt-1 cart-num icon icon__red text__bold">{{ cart.num }}</p>
          <!-- hidden -->
          <input type="hidden" name="table_num" value="{{ table_num }}">
          <input type="hidden" name="curr_num" value="{{ cart.num }}">
          <input type="hidden" name="cart_id" value="{{ cart.id }}">
        </button>
      </form>
    {% endfor %}
  </div>

  {% if not user.is_authenticated %}
    <form action="{% url 'customer:order' %}" method="POST">{% csrf_token %}
      <!-- hidden -->
      <input type="hidden" name="table_num" value="{{ table_num }}">
      <input type="hidden" name="menu_id" value="{{ menu.id }}">
      {% if carts %}
        <button class="btn btn__orange btn__fixed shadow" onclick="loading_show()">
      {% else %}
        <button class="btn btn__grey btn__fixed shadow" disabled onclick="loading_show()">
      {% endif %}
          注文
        </button>
    </form>
  {% endif %}
</section>
{% endblock %}
