{% extends 'customer/base__next.html' %}
{% load static %}
{% load humanize %}

{% block inner__content %}
<section class="menu-detail">
  <div class="menu-top-view">
    {% if menu.img %}
      <img height=420 src="{{ menu.img.url }}" alt="Menu">
    {% endif %}

    {% block menu_img %}
      {% include 'restaurant/manage/detail/menu_img.html' %}
    {% endblock %}

    <div class="text-box px-sm-5 px-2 py-1">
      <p class="text-left">{{ menu.name }}</p>
      <p class="text-right">¥ {{ menu.price | intcomma }}</p>
    </div>
    {% block menu_text %}
      {% include 'restaurant/manage/detail/menu_text.html' %}
    {% endblock %}
  </div>

  <div class="px-2 py-3 menu-allergy">
    <p class="text-left text__bold">アレルギー表示</p>
    <hr/>
    <div class="d-flex justify-content-around">
      {% for allergy in allergies %}
        {% if allergy in has_allergies %}
          <div class="allergy-box-brighten py-1 px-3">
            {{ allergy }}
          </div>
        {% else %}
          <div class="allergy-box py-1 px-3">
            {{ allergy }}
          </div>
        {% endif %}
      {% endfor %}

      {% block menu_allergy %}
        {% include 'restaurant/manage/detail/menu_allergy.html' %}
      {% endblock %}
    </div>

    <!-- new feature -->

    <!-- <p class="mt-5 text-left text__bold">シェフからのコメント</p>
    <hr/>
    <div class="row mx-auto">
      <img class="col-4 shadow chef" src="" alt="Comment from Chef">
      <div class="col-8 shadow comment"></div>
    </div>

    <p class="mt-5 text-left text__bold">生産者からのメッセージ</p>
    <hr/>
    <div class="row mx-auto">
    </div> -->

    {% if not user.is_authenticated %}
      <form class="cart-form" action="{% url 'customer:cart' %}" method="POST">{% csrf_token %}
        <div class="d-flex input__fixed">
          <div class="text__bold">
            {{ add_to_cart_form }}
          </div>
          <p class="pl-2 text__bold d-flex align-items-center">個</p>
        </div>
        <!-- hidden -->
        <input style="display: none;" type="text" name="menu_id" value="{{ menu.id }}">
        <button type="submit" class="btn btn__orange btn__fixed shadow">追加</button>
      </form>
    {% endif %}
  </div>
</section>
{% endblock %}
