{% extends 'customer/base__next.html' %}
{% load static %}
{% load humanize %}

{% block inner__content %}
<section class="menu-detail">
  {% include 'components/customer/menu_detail.html' %}

    {% if not user.is_authenticated %}
      <form class="cart-form" action="{% url 'customer:cart' %}" method="POST">{% csrf_token %}
        <div class="d-flex input__fixed justify-content-center align-items-center">
          <p class="text__bold plus-minus el__pointer" id="cartMinus">-</p>
          <input type="number" name="cart_num" class="ml-4 mr-2 text__bold" value="1" id="cartNum" required readonly>
          <p class="pt-2 text__bold text__large">個</p>
          <p class="ml-4 text__bold plus-minus el__pointer" id="cartPlus">+</p>
        </div>
        <!-- hidden -->
        <input type="hidden" name="menu_id" value="{{ menu.id }}">
        <input type="hidden" name="direct" value="direct">
        <button type="submit" class="btn btn__orange btn__fixed-righter shadow" onclick="loading_show(); style.display='none';">
          追加
        </button>
      </form>
    {% endif %}
  </div>
</section>
{% endblock %}
