{% extends 'customer/base__next.html' %}
{% load static %}
{% load humanize %}

{% block inner__content %}
<section class="menu-list">
  <div class="d-flex flex-wrap">
    {% for cart in carts %}
      <form class="el__pointer mx-auto my-1 menu-item shadow" action="{% url 'customer:cart_detail' cart.menu.id %}" method="POST">{% csrf_token %}
        <button type="submit" class="w-100 h-100 p-0 focus">
          <img class="lazyload" data-src="{{ cart.menu.img.url }}" alt="Menu">
          <div class="text-box">
            <p class="text-left pl-2">{{ cart.menu.name }}</p>
            <p class="text-right pr-2">¥ {{ cart.menu.price }}</p>
          </div>
          <p class="pt-1 cart-num icon icon__red text__bold">{{ cart.num }}</p>
          <p class="py-2 px-3 badge badge__orange">注文予定</p>
          <!-- hidden -->
          <input type="hidden" name="random_code" value="{{ random_code }}">
          <input type="hidden" name="table" value="{{ table_num }}">
        </button>
      </form>
    {% endfor %}

    {% for order in orders %}
      <form class="el__pointer mx-auto my-1 menu-item shadow" action="{% url 'customer:cart_detail' order.menu.id %}" method="POST">{% csrf_token %}
        <button type="submit" class="w-100 h-100 p-0 focus">
          <img class="lazyload" data-src="{{ order.menu.img.url }}" alt="Menu">
          <div class="text-box">
            <p class="text-left pl-2">{{ order.menu.name }}</p>
            <p class="text-right pr-2">¥ {{ order.menu.price | intcomma }}</p>
          </div>
          <p class="pt-1 cart-num icon icon__red text__bold">{{ order.num }}</p>
          {% if order.status == '調理中' %}
            <p class="py-2 px-3 badge badge__turquoise">調理中</p>
          {% elif order.status == '済' %}
            <p class="py-2 px-3 badge badge__grey">済</p>
          {% endif %}
          <!-- hidden -->
          <input type="hidden" name="random_code" value="{{ random_code }}">
          <input type="hidden" name="table" value="{{ table_num }}">
        </button>
      </form>
    {% endfor %}
  </div>

  <!-- <hr/>
  <div class="row">
    <div class="col-4">
      <p class="py-2 px-3 badge badge__orange">注文予定</p>
      <p>¥ {{ orders_in_cart }}</p>
    </div>
    <div class="col-4">
      <p class="py-2 px-3 badge badge__grey">注文済</p>
      <p>¥ {{ orders_in_order }}</p>
    </div>
    <div class="col-4">
      <p class="py-2 px-3 badge badge__yellow">合計</p>
      <p class="text__bold text_large">¥ {{ total_price }}</p>
    </div> -->

    <!-- お会計機能は、new feature -->
    <!-- <form action=""" method="POST">{% csrf_token %} -->
    <!-- <button class="col-3 btn btn__orange btn__fixed shadow">
      お会計
    </button> -->
    <!-- </form> -->

    <!-- </div> -->

    {% if user.is_authenticated %}
      <div>
        {% include 'components/restaurant/modal/menu.html' %}
      </div>
    {% else %}
      <form action="{% url 'customer:cart' %}" method="POST">{% csrf_token %}
        <!-- hidden -->
        <input type="hidden" name="random_code" value="{{ random_code }}">
        <input type="hidden" name="table" value="{{ table_num }}">
        <button type="submit" class="btn btn__orange btn__fixed shadow">
          注文内容を見る
        </button>
      </form>
    {% endif %}
</section>
{% endblock %}
