{% extends 'customer/base__next.html' %}
{% load static %}
{% load humanize %}

{% block custom__header %}
  <title>注文履歴</title>
{% endblock %}

{% block inner__content %}
<section class="menu-list">
  <div class="d-flex flex-wrap">
    {% for cart in carts %}
      <form class="el__pointer mx-auto my-1 menu-item shadow" action="{% url 'customer:cart_detail' cart.menu.id %}" method="GET">
        <button type="submit" class="w-100 h-100 p-0 focus" onclick="loading_show()">
          <img class="lazyload" data-src="{{ cart.menu.img.url }}" alt="Menu">
          <div class="text-box">
            <p class="text-left pl-2">{{ cart.menu.name }}</p>
            {% if not cart.menu.category.nomiho == True %}
              <p class="text-right pr-2">¥ {{ cart.menu.price | intcomma }}</p>
            {% endif %}
          </div>
          <p class="pt-1 cart-num icon icon__red text__bold">{{ cart.num }}</p>
          <p class="py-2 px-3 badge badge__orange">注文予定</p>
          <!-- hidden -->
          <input type="hidden" name="num" value="{{ cart.num }}">
          <input type="hidden" name="id" value="{{ cart.id }}">
          <input type="hidden" name="type" value="history-cart">
        </button>
      </form>
    {% endfor %}

    {% for order in orders %}
      <form class="el__pointer mx-auto my-1 menu-item shadow" action="{% url 'customer:cart_detail' order.menu.id %}" method="GET">
        <button type="submit" class="w-100 h-100 p-0 focus" onclick="loading_show()">
          <img class="lazyload" data-src="{{ order.menu.img.url }}" alt="Menu">
          <div class="text-box">
            <p class="text-left pl-2">{{ order.menu.name }}</p>
            {% if not order.menu.category.nomiho == True %}
              <p class="text-right pr-2">¥ {{ order.menu.price | intcomma }}</p>
            {% endif %}
          </div>
          <p class="pt-1 cart-num icon icon__red text__bold">{{ order.num }}</p>
          {% if order.status == '調理中' %}
            <p class="py-2 px-3 badge badge__turquoise">調理中</p>
            <!-- hidden -->
            <input type="hidden" name="order_status" value="調理中">
          {% elif order.status == 'キャンセル' %}
            <p class="py-2 px-3 badge badge__blue">キャンセル</p>
            <!-- hidden -->
            <input type="hidden" name="order_status" value="キャンセル">
          {% elif order.status == '済' %}
            <p class="py-2 px-3 badge badge__grey">ご提供済</p>
            <!-- hidden -->
            <input type="hidden" name="order_status" value="済">
          {% endif %}
          <input type="hidden" name="num" value="{{ order.num }}">
          <input type="hidden" name="id" value="{{ order.id }}">
          <input type="hidden" name="type" value="history-order">
        </button>
      </form>
    {% endfor %}
  </div>

  <hr/>
  <div class="row">
    <div class="col-4">
      <p class="py-2 px-3 badge badge__orange shadow mb-3">注文予定</p>
      <p>¥ {{ request.session.orders_in_cart | intcomma }}</p>
    </div>
    <div class="col-4">
      <p class="py-2 px-3 badge badge__grey shadow mb-3">注文済</p>
      {% if request.session.orders_in_order %}
        <p>¥ {{ request.session.orders_in_order | intcomma }}</p>
      {% else %}
        <p>¥ 0</p>
      {% endif %}
      {% if user_uuid.nomiho_price != 0 %}
        <p class="pt-2">（内 {{ user_uuid.nomiho_name }} ¥ {{ user_uuid.nomiho_price | intcomma }}）</p>
      {% endif %}
    </div>
    <div class="col-4">
      <p class="py-2 px-3 badge badge__yellow shadow mb-3">合計</p>
      <p class="text__bold text_large">
        {% if request.session.total_price %}
          ¥ {{ request.session.total_price | intcomma }}
        {% else %}
          ¥ 0
      </p>
      {% endif %}
    </div>

    <div class="btn__fixed-wider d-flex justify-content-between">
      <form action="{% url 'customer:order' %}" method="GET">
        <!-- hidden -->
        <input type="hidden" name="menu_id" value="{{ menu.id }}">
        {% if carts %}
          <button class="btn btn__red shadow px-5 text__bold" id="orderConfirm" onclick="loading_show(); style.display='none';">
        {% else %}
          <button class="btn btn__grey shadow px-5 text__bold" id="orderConfirm" disabled>
        {% endif %}
            注文
          </button>
      </form>
      <form action="{% url 'customer:stop' %}" class="d-flex" method="GET">
        <button type="submit" class="btn btn__blue shadow text__bold px-sm-4 py-sm-0 py-2" id="orderStopConfirm">
          伝票表示
        </button>
      </form>
    </div>
</section>
{% endblock %}
