{% extends 'customer/base__next.html' %}
{% load static %}

{% block custom__header %}
  <title>メニュー表</title>
{% endblock %}

{% block content %}
<section class="w-100 top-view">
  <div class="img">
    <img src="{% static 'img/top-view.jpg' %}" alt="Top View">
  </div>
  <div class="forms">
    <h5 class="title">いいじゃないか、5年道草をくったら、5年遅く生まれて来たと思うのだ。</h5>
    <p class="title pt-3 pb-5">-　吉川英治　-</p>
    <form class="px-auto my-5 py-5" method="GET" action="{% url 'customer:table' %}">
      <button type="submit" class="btn__glass w-100 btn shadow mb-5 text__bold text__large" onclick="loading_show()">
        タップ
      </button>
    </form>
  </div>
</section>
{% endblock %}
