{% extends 'customer/base__next.html' %}
{% load static %}

{% block content %}
<section class="wrapper w-100 top-view">
  <img src="{% static 'img/common/top-view.jpeg' %}" alt="Top View">
  <div class="forms">
    <h1 class="text__bold">メニュー表</h1>
    <form class="px-auto mt-3 mb-5 py-5" method="POST" action="{% url 'customer:table' %}">{% csrf_token %}
      <!-- hidden -->
      <input type="hidden" name="form-type" value="始める">
      <button type="submit" class="w-100 btn btn__orange shadow mb-5 text__bold text__large">始める</button>
    </form>
    <form class="px-auto mt-5 pt-5" method="POST" action="{% url 'customer:table' %}">{% csrf_token %}
      <p></p>
      <!-- hidden -->
      <input type="hidden" name="form-type" value="復元">
      <button type="submit" class="w-100 btn btn__grey shadow mb-5">復元</button>
    </form>
  </div>
</section>
{% endblock %}
