{% extends 'customer/base__next.html' %}
{% load static %}
{% load humanize %}

{% block inner__content %}
<section class="menu-list">
  <div class="category mb-3">
    <div class="d-flex ml-3">
      {% for category in categories %}
        <form action="{% url 'customer:filter' %}" method="POST">{% csrf_token %}
          {% if category.name == category_name %}
            <button type="submit" class="category-btn focus focused p-2 text__bold" name="category" value="{{ category }}" onclick="loading_show()">
          {% else %}
            <button type="submit" class="category-btn focus p-2 text__bold" name="category" value="{{ category }}" onclick="loading_show()">
          {% endif %}
              {{ category.name }}
            </button>
          <!-- hidden -->
          <input type="hidden" name="category_name" value="{{ category.name }}">
          <input type="hidden" name="nomiho_or_not" value="{{ category.nomiho }}">
        </form>
      {% endfor %}
    </div>

    {% include 'components/restaurant/modal/category.html' %}
  </div>

  <!-- 飲み放題プランの表示箇所 -->
  {% if nomihos %}
    {% if user_uuid.nomiho == False %}
      {% for nomiho in nomihos %}
        <form class="nomiho--1 shadow px-2 m-3 pt-3" action="{% url 'customer:nomiho' %}" method="POST">{% csrf_token %}
          <div>
            <h3 class="text__bold">プラン名： {{ nomiho.name }}</h3>
            <h4 class="py-3 text__bold">料金：　¥　{{ nomiho.price }}</h4>
            <p>{{ nomiho.comment }}</p>
          </div>
          <!-- hidden -->
          <input type="hidden" name="nomiho_type" value="{{ nomiho.id }}">
          {% if user.is_authenticated %}
            <button class="btn btn__orange shadow w-50 my-4 el__dactivate">
              *お客様用のボタンです
            </button>
          {% else %}
            <button type="submit" class="btn btn__orange shadow w-50 my-4" id="startNomiho">
              開始する
            </button>
          {% endif %}
        </form>
      {% endfor %}
    {% endif %}
  {% endif %}
　
  <!-- 飲み放題を開始していない場合は、選択できないようにする -->
  <!-- 飲み放題を1つでも開始した場合、全て選択できるようにする -->
  <div class="d-flex flex-wrap">
    {% for menu in menus %}
      <form
      {% if nomihos and nomiho_is_started == 'False' %}
        class="mx-auto my-1 menu-item shadow el__pointer el__dactivate"
      {% else %}
        class="mx-auto my-1 menu-item shadow el__pointer"
      {% endif %}
      action="{% url 'customer:menu_detail' menu.id %}" method="POST">{% csrf_token %}
        <button type="submit" class="w-100 h-100 p-0 focus" onclick="loading_show()">
          {% if menu.formatted_img %}
            <img class="m-0 lazyload" data-src="{{ menu.formatted_img.url }}" alt="Menu">
          {% endif %}
          <div class="text-box">
            <p class="text-left pl-2">{{ menu.name }}</p>
            <p class="text-right pr-2">¥ {{ menu.price | intcomma }}</p>
          </div>
        </button>
      </form>
    {% endfor %}
  </div>

  {% if user.is_authenticated %}
    <div>
      {% include 'components/restaurant/modal/menu.html' %}
    </div>
  {% else %}
    <form action="{% url 'customer:cart' %}" method="POST">{% csrf_token %}
      <button type="submit" class="btn btn__orange btn__fixed shadow" onclick="loading_show()">
        注文予定を見る
      </button>
    </form>
  {% endif %}
</section>
{% endblock %}
