{% extends 'customer/base__next.html' %}
{% load static %}
{% load humanize %}

{% block inner__content %}
<section class="menu-list">
  <div class="category mb-3">
    <div class="d-flex flex-wrap category-wrapper">
      {% for category in categories %}
        <form action="{% url 'customer:filter' category.id %}" method="GET">
          {% if category.id == request.session.category_name %}
            <button type="submit" class="category-btn focus focused p-2 text__bold" name="category" value="{{ category }}" onclick="loading_show()">
          {% else %}
            <button type="submit" class="category-btn focus p-2 text__bold" name="category" value="{{ category }}" onclick="loading_show()">
          {% endif %}
              {{ category.name }}
            </button>
        </form>
      {% endfor %}
    </div>

    {% include 'components/restaurant/modal/category.html' %}
  </div>

  <!-- 飲み放題プランの表示箇所 -->
  <section class="nomiho">
    <!-- もしそもそも飲み放題プランがある場合 -->
    {% include 'components/customer/modal/nomiho.html' %}
  　
    {% if user.is_authenticated and nomiho_category == 'Yes' %}
      <div>
        {% include 'components/restaurant/modal/nomiho.html' %}
      </div>
    {% else %}
    {% endif %}
  </section>

  <!-- 飲み放題を開始していない場合は、選択できないようにする -->
  <!-- 飲み放題を1つでも開始した場合、全て選択できるようにする -->
  <div class="d-flex flex-wrap">
    {% for menu in menus %}
      {% if menu.category.nomiho == True and user_uuid.nomiho == False and not user.is_authenticated %}
        <form class="mx-auto my-1 menu-item shadow el__dactivate" action="{% url 'customer:menu_detail' menu.id %}" method="GET">
      {% else %}
        <form class="mx-auto my-1 menu-item shadow el__pointer" action="{% url 'customer:menu_detail' menu.id %}" method="GET">
      {% endif %}
        <button type="submit" class="w-100 h-100 p-0 focus" onclick="loading_show()">
          {% if menu.formatted_img_list %}
            <img class="m-0 lazyload" data-src="{{ menu.formatted_img.url }}" alt="Menu">
          {% endif %}
          <div class="text-box">
            <p class="text-left pl-2">{{ menu.name }}</p>
            {% if not menu.category.nomiho == True %}
              <p class="text-right pr-2">¥ {{ menu.price | intcomma }}</p>
            {% endif %}
          </div>
        </button>
      </form>
    {% endfor %}
  </div>

  {% if user.is_authenticated %}
    <div>
      {% include 'components/restaurant/modal/menu.html' %}
    </div>
  {% else %}
    <form action="{% url 'customer:cart_static' %}" method="GET">
      <button type="submit" class="btn btn__orange btn__fixed shadow" onclick="loading_show()">
        注文予定を見る
      </button>
    </form>
  {% endif %}
</section>
{% endblock %}
