{% extends 'customer/base__next.html' %}
{% load static %}

{% block inner__content %}
<h4 class="pt-3 text__bold">お名前 と テーブル番号 を教えてください</h4>
<img class="mx-auto" src="{% static 'img/customer/table.svg' %}" alt="Table">

<form class="px-auto" method="POST" action="{% url 'customer:make_random_code' %}">{% csrf_token %}
  <div class="text__bold text-right mr-5 pr-sm-5 pr-3 choose-table">
    {{ choose_table_form.as_p }}
  </div>
  <div class="pt-5">
    <button type="submit" class="w-50 px-4 btn btn__orange shadow">登録</button>
  </div>
</form>
{% endblock %}
