{% extends 'customer/base__next.html' %}
{% load static %}

{% block custom__header %}
  <title>承認待ちです</title>
  <meta http-equiv="refresh" content="5; URL=">
{% endblock %}

{% block content %}
<section class="w-100 waiting-admin">
  <div class="img">
    <img src="{% static 'img/top-view.jpg' %}" alt="Top View">
  </div>
  <div class="forms text-center title">
    <h1 class="pb-5 mb-5">テーブル番号<br /> {{ request.session.table }}</h1>
    <h3 class="pb-5 mb-5">お店の承認待ちです</h3>
    <p>店員をお呼びし、{{ request.session.table }}番テーブルの利用開始をお申し付けください。</p>
  </div>
</section>
{% endblock %}
