{% extends 'customer/base__next.html' %}
{% load static %}

{% block custom__header %}
  <title>承認待ちです</title>
  <meta http-equiv="refresh" content="5; URL=">
{% endblock %}

{% block content %}
<section class="w-100 waiting">
  <div class="img">
    <img src="{% static 'img/top-view.jpg' %}" alt="Top View">
  </div>
  <div class="forms text-center title">
    <h3 class="pb-5 mb-5">同テーブルに最初に入られた方の承認待ちです</h3>
    <p>*テーブルにご自身のみいらっしゃる状態でこの画面が表示されましたら、<br>お手数ですが店員をお呼び、画面のリセットを申し付けください。</p>
  </div>
</section>
{% endblock %}
