/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

p,
a,
label,
form,
input {
  font-size: 14px;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.text__bold {
  font-weight: bold;
}

input,
textarea {
  padding: 5px 0 5px 0;
  border-radius: 4px;
}

html:focus-within {
  scroll-behavior: smooth;
}

html body {
  text-rendering: optimizeSpeed;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.7rem;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
a,
label,
button,
input,
div {
  color: #565454;
}

input,
textarea {
  outline: none;
  border-color: #f1f1f1;
  -webkit-box-shadow: 0.4px inset;
          box-shadow: 0.4px inset;
}

a:hover {
  color: #257cff;
}

.shadow {
  -webkit-box-shadow: 0 0 2px 3px #565454;
          box-shadow: 0 0 2px 3px #565454;
}

.beautify:hover {
  -webkit-box-shadow: 0 0 4px 6px #9c9c9c;
          box-shadow: 0 0 4px 6px #9c9c9c;
}

.btn {
  border-radius: 100px;
  color: #fff;
  text-align: center;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
}

.btn:hover {
  color: #fff;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn__blue {
  background-color: #257cff;
}

.btn__orange {
  background-color: #ff9900;
}

.btn__grey {
  background-color: #9c9c9c;
}

.icon {
  border-radius: 100px;
  text-align: center;
}

.icon_yellow {
  background-color: #ffe5be;
  color: #565454;
}

.icon__red {
  background-color: #ff5b51;
  color: #fff;
}

.btn__fixed {
  width: 183px;
  position: fixed;
  left: 15vh;
  bottom: 10px;
}

.wrapper {
  min-height: 100vh;
  background-color: #f1f1f1;
}

.wrapper .inner__wrapper {
  max-width: 600px;
}

.wrapper .board {
  background-color: #fff;
  border-radius: 10px;
}

.logo {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

section.header {
  min-width: 400px;
  background-color: #257cff;
}

section.header .back {
  color: #565454;
  -webkit-transform: scale(2);
          transform: scale(2);
}

section.header div {
  color: #fff;
}

section.header .clipboard {
  color: #fff;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.board__customer section.header__customer .clipboard {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.board__customer .choose-table input {
  font-size: 28px;
  text-align: center;
  background-color: #ffd79a;
  border-radius: 10px;
}

.board__customer .menu-list .category {
  border-bottom: 1px solid #9c9c9c;
}

.board__customer .menu-list .category .category-btn {
  border-top: 1px solid #9c9c9c;
  border-left: 1px solid #9c9c9c;
  border-right: 1px solid #9c9c9c;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
}

.board__customer .menu-list .category .category-btn p {
  color: #9c9c9c;
}

.board__customer .menu-list .menu-item {
  border-radius: 4px;
}

.board__customer .menu-list .menu-item img {
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.board__customer .menu-list .menu-item .text-box {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #9b9999;
  opacity: 0.6;
  border-radius: 0 0 4px 4px;
}

.board__customer .menu-list .menu-item .text-box p {
  color: #fff;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */