/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

p,
a,
label,
form,
input,
select {
  font-size: 14px;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

*:focus {
  outline: none;
}

.text__bold {
  font-weight: bold;
}
.text__large {
  font-size: large;
}
.text__small {
  font-size: small;
}
.text__underline {
  text-decoration: underline;
}
.text__underline-none {
  text-decoration: none;
}
.el__pointer {
  cursor: pointer;
}
.el__hide {
  display: none;
}
.el__dactivate {
  pointer-events: none;
  opacity: 0.7;
}

.focus {
  &.focus,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.input__fixed {
  position: fixed;
  left: 5vh;
  bottom: 10px;
}

.btn__fixed {
  width: 183px;
  position: fixed;
  z-index: 2;
  left: 15vh;
  bottom: 10px;
}
.btn__fixed-wider {
  width: 250px;
  position: fixed;
  z-index: 2;
  left: 15vh;
  bottom: 10px;
}
.btn__fixed-righter {
  width: 130px;
  position: fixed;
  z-index: 2;
  right: 5vh;
  bottom: 10px;
}

input,
textarea {
  padding: 5px 0 5px 0;
  border-radius: 4px;
}

html {
  &:focus-within {
    scroll-behavior: smooth;
  }
  body {
    text-rendering: optimizeSpeed;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.7rem;
  }
}

.error-img {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

// unique default
$blue: #257cff;
$turquoise: #aae2d1;
$red: #ff5b51;
$orange: #ff9900;
$light-orange: #ffd79a;
$yellow: #ffe5be;
$black: #565454;
$grey: #9c9c9c;
$light-grey: #f1f1f1;
$white: #fff;

h1,
h2,
h3,
h4,
h5,
p,
a,
label,
button,
input,
div {
  color: $black;
}

input,
textarea {
  outline: none;
  border-color: $light-grey;
  box-shadow: 0.4px inset;
}

a {
  &:hover {
    color: $blue;
  }
}

.shadow {
  box-shadow: 0 0 2px 3px $black;
}

.beautify {
  &:hover {
    box-shadow: 0 0 4px 6px $grey;
  }
}

.btn {
  border-radius: 100px;
  color: $white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  transition: 0.5s;
  &:hover {
    color: $white;
    transform: scale(0.9);
  }
  @media (max-width: 600px) {
    font-size: 1.2rem;
  }
}
.btn__blue {
  background-color: $blue;
}
.btn__orange {
  background-color: $orange;
}
.btn__light-orange {
  background-color: $light-orange;
  color: $black;
}
.btn__grey {
  background-color: $grey;
}
.btn__red {
  background-color: $red;
}
.btn__turquoise {
  background-color: $turquoise;
}
.btn__glass {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 191, 255, 0.075);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

.icon {
  border-radius: 100px;
  text-align: center;
  align-items: center;
  width: 29px;
  height: 29px;
}
.icon_yellow {
  background-color: $yellow;
  color: $black;
}
.icon__red {
  background-color: $red;
  color: $white;
}

.badge {
  text-align: center;
  align-items: center;
  border-radius: 100px;
  font-weight: bold;
}
.badge__red {
  background-color: $red;
  color: $white;
}
.badge__orange {
  background-color: $orange;
  color: $white;
}
.badge__light-orange {
  background-color: $light-orange;
}
.badge__turquoise {
  background-color: $turquoise;
}
.badge__blue {
  background-color: $blue;
  color: $white;
}
.badge__grey {
  background-color: $grey;
  color: $white;
}
.badge__yellow {
  background-color: $yellow;
}
.badge-table {
  border-color: transparent;
  width: 100px;
  border-radius: 4px;
  transition: 0.5s;
  &:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
}

.logo {
  background-color: $white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

body {
  position: relative;
  .loading_icon {
    position: absolute;
    z-index: 20001;
    width: 20vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
  }
  .back-to-order-manage {
    background-color: $light-grey;
  }
  .nomiho-limit {
    background-color: $light-orange;
  }
}

.message {
  background-color: $light-grey;
}

// restaurant
.wrapper {
  min-height: 120vh;
  background-color: $light-grey;
  .inner__wrapper {
    max-width: 600px;
    .board {
      background-color: $white;
      border-radius: 10px;
    }
  }
}

.restaurant {
  section.header {
    min-width: 320px;
    position: fixed;
    z-index: 100;
    background-color: $blue;
    .back {
      color: $black;
      text-decoration: none;
    }
    .title {
      h5 {
        color: $white;
      }
    }
    .back-menu {
      color: $white;
    }
    .clipboard {
      color: $white;
      transform: scale(2);
    }
  }
  .restraurant-collapse {
    background-color: $blue;
    .nav-list {
      background-color: $blue;
    }
  }
  section.order-table {
    background-color: $white;
    .order-item {
      border-radius: 4px;
      .order-item-card {
        border-color: transparent;
        background-color: $white;
      }
      .name {
        font-size: 32px;
        @media (max-width: 600px) {
          font-size: 32px * 0.7;
        }
      }
    }
  }
  section.total {
    .table-list {
      background-color: $white;
      .table-price {
        position: relative;
        .price-change-btn {
          position: absolute;
          top: 0px;
          right: 100px;
          z-index: 2;
        }
      }
    }
  }
  section.daily {
    .daily-interest,
    .total-interest {
      border-color: $grey;
      border-radius: 4px;
      background-color: $light-grey;
    }
  }
}

// customer
section.top-view {
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  @keyframes slideIn {
    0% {
      transform: translateX(180px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
    40%,
    100% {
      opacity: 1;
    }
  }
}
section.top-view,
section.table,
section.waiting,
section.judge {
  .img {
    height: 100vh;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  img {
    position: relative;
  }
  .forms {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    .title {
      color: $white;
    }
    form {
      p {
        color: $white;
      }
    }
  }
  img {
    position: relative;
  }
}
section.waiting,
section.judge {
  h3,
  p {
    color: $white;
  }
}
section.table {
  .choose-table {
    label {
      color: $white;
    }
    input {
      color: $white;
      font-size: 20px;
      text-align: center;
      background-color: transparent;
      border-radius: 10px;
      margin: 6px 0;
    }
  }
}
.board__customer {
  section.header__customer {
    .back {
      border-color: transparent;
      background-color: transparent;
    }
    .clipboard {
      transform: scale(2.8);
    }
  }
  section.header__customer {
    position: relative;
    .company-img-manage-btn {
      position: absolute;
      z-index: 200;
      top: -20px;
      left: 50px;
    }
  }
  section.header__customer {
    position: relative;
    .company-name-manage-btn {
      position: absolute;
      z-index: 200;
      top: -40px;
      left: 120px;
      @media (max-width: 600px) {
        left: 80px;
      }
    }
  }
  section.menu-list {
    .category {
      border-bottom: 1px solid $grey;
      position: relative;
      .category-wrapper {
        .category-btn {
          border-top: 1px solid $grey;
          border-left: 1px solid $grey;
          border-right: 1px solid $grey;
          border-bottom: 0;
          border-radius: 4px 4px 0 0;
          background-color: $white;
          p {
            color: $grey;
          }
        }
        .focused {
          background: linear-gradient(
            180.1687646945927deg,
            rgba(245, 227, 184, 1) 4.496197718631179%,
            rgba(245, 227, 184, 1) 8.619824672581327%,
            rgba(255, 238, 224, 1) 90.55449936628644%
          );
        }
      }
      .category-manage-btn {
        position: absolute;
        top: -30px;
        left: 50px;
        z-index: 2;
      }
    }
    .menu-item {
      width: 174px;
      height: 195px;
      border-radius: 4px;
      text-decoration: none;
      position: relative;
      transition: 0.5s;
      &:hover {
        opacity: 0.6;
        border-radius: 6px;
        transform: scale(1.05);
      }
      button {
        border: transparent;
        img {
          border-radius: 4px;
          height: 100%;
          &:hover {
            border-radius: 6px;
          }
        }
        .text-box {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          background-color: #9b9999;
          opacity: 0.7;
          border-radius: 0 0 4px 4px;
          width: 174px;
          height: 44px;
          &:hover {
            border-radius: 0 0 6px 6px;
          }
          p {
            color: $white;
            font-size: 16px;
          }
        }
      }
      .cart-num {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 10000;
      }
      .badge {
        position: absolute;
        top: 8px;
        left: 40px;
        z-index: 10000;
      }
    }
    // 飲み放題コースの装飾
    section.nomiho {
      position: relative;
      form.nomiho--1 {
        background-color: $yellow;
        border-radius: 10px;
      }
      .nomiho-manage-btn {
        position: absolute;
        top: 30px;
        right: 50px;
        z-index: 2;
      }
    }
  }
  section.menu-detail {
    .menu-top-view {
      position: relative;
      .text-box {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: #9b9999;
        opacity: 0.7;
        width: 100%;
        height: 20%;
        p {
          color: $white;
          font-size: 28px;
          @media screen and (max-width: 600px) {
            font-size: 22px;
          }
        }
      }
    }
    .menu-top-view {
      position: relative;
      .menu-img-manage-btn {
        position: absolute;
        z-index: 2;
        top: 10px;
        left: 10px;
      }
    }
    .menu-allergy {
      position: relative;
      .menu-allergy-manage-btn {
        position: absolute;
        z-index: 2;
        top: 5px;
        left: 120px;
        @media (max-width: 600px) {
          left: 80px;
        }
      }
      .menu_allergy_handle_btn {
        button {
          border-color: transparent;
          transform: scale(0.7);
        }
      }
      section.chef-wrapper {
        .chef {
          border-radius: 1000px;
          width: 10rem;
          height: 10rem;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 1000px;
          }
        }
        .comment {
          border-radius: 4px;
          overflow: auto;
          overflow-wrap: break-word;
          textarea {
            width: 100%;
            height: 100%;
            max-width: 360px;
          }
        }
      }
      section.chef-wrapper {
        position: relative;
        .chef-btn {
          position: absolute;
          z-index: 2;
          top: 5px;
          right: 120px;
        }
      }
    }
    .allergy-box-brighten {
      background-color: $light-orange;
      color: $black;
    }
    .allergy-box {
      background-color: $grey;
      color: $white;
    }
    .cart-form {
      .plus-minus {
        font-size: 30px;
      }
      input {
        width: 39px;
        height: 39px;
        border-radius: 1000px;
        text-align: center;
        font-size: large;
      }
    }
  }
  .menu-detail {
    position: relative;
    .menu-name-manage-btn {
      position: absolute;
      z-index: 2;
      bottom: 10px;
      left: 10px;
    }
  }
  .menu-detail {
    position: relative;
    .menu-price-manage-btn {
      position: absolute;
      z-index: 2;
      bottom: 20px;
      right: 10px;
    }
  }
}

// modal
.modal-category {
  .category-item {
    border: 1px solid $grey;
    border-radius: 4px;
  }
}
.modal-chef {
  .comment-edit {
    // TODO:
    overflow-wrap: break-word;
    textarea {
      border-color: $light-grey;
      width: 100%;
      height: 100%;
    }
  }
}
