/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

p,
a,
label,
form,
input,
select {
  font-size: 14px;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

*:focus {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
.text__bold {
  font-weight: bold;
}

.text__large {
  font-size: large;
}

.input__fixed {
  position: fixed;
  left: 5vh;
  bottom: 10px;
}

.btn__fixed {
  width: 183px;
  position: fixed;
  z-index: 10000;
  left: 15vh;
  bottom: 10px;
}

input,
textarea {
  padding: 5px 0 5px 0;
  border-radius: 4px;
}

html:focus-within {
  scroll-behavior: smooth;
}

html body {
  text-rendering: optimizeSpeed;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.7rem;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
a,
label,
button,
input,
div {
  color: #565454;
}

input,
textarea {
  outline: none;
  border-color: #f1f1f1;
  -webkit-box-shadow: 0.4px inset;
          box-shadow: 0.4px inset;
}

a:hover {
  color: #257cff;
}

.shadow {
  -webkit-box-shadow: 0 0 2px 3px #565454;
          box-shadow: 0 0 2px 3px #565454;
}

.beautify:hover {
  -webkit-box-shadow: 0 0 4px 6px #9c9c9c;
          box-shadow: 0 0 4px 6px #9c9c9c;
}

.el__pointer {
  cursor: pointer;
}

.focus.focus, .focus:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  border-radius: 100px;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  color: #fff;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn__blue {
  background-color: #257cff;
}

.btn__orange {
  background-color: #ff9900;
}

.btn__light-orange {
  background-color: #ffd79a;
  color: #565454;
}

.btn__grey {
  background-color: #9c9c9c;
}

.btn__red {
  background-color: #ff5b51;
}

.btn__turquoise {
  background-color: #aae2d1;
}

.icon {
  border-radius: 100px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
}

.icon_yellow {
  background-color: #ffe5be;
  color: #565454;
}

.icon__red {
  background-color: #ff5b51;
  color: #fff;
}

.badge {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  font-weight: bold;
}

.badge__orange {
  background-color: #ff9900;
  color: #fff;
}

.badge__light-orange {
  background-color: #ffd79a;
}

.badge__turquoise {
  background-color: #aae2d1;
}

.badge__blue {
  background-color: #257cff;
  color: #fff;
}

.badge__grey {
  background-color: #9c9c9c;
  color: #fff;
}

.badge__yellow {
  background-color: #ffe5be;
}

.full__wrapper {
  position: relative;
}

.full__wrapper .mess-box {
  max-width: 550px;
  min-width: 335px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
}

.full__wrapper {
  position: relative;
}

.full__wrapper .logout {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.wrapper {
  min-height: 100vh;
  background-color: #f1f1f1;
}

.wrapper .inner__wrapper {
  max-width: 600px;
}

.wrapper .inner__wrapper .board {
  background-color: #fff;
  border-radius: 10px;
}

.logo {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

section.header {
  min-width: 400px;
  position: fixed;
  z-index: 100;
  background-color: #257cff;
}

section.header .back {
  color: #565454;
  -webkit-transform: scale(2);
          transform: scale(2);
}

section.header div {
  color: #fff;
}

section.header .back-menu {
  color: #fff;
}

section.header .clipboard {
  color: #fff;
  -webkit-transform: scale(2);
          transform: scale(2);
}

section.order-table .order-item {
  border-radius: 4px;
}

section.order-table .order-item .order-item-card {
  border-color: transparent;
  background-color: #fff;
}

section.order-table .order-item .name {
  font-size: 32px;
}

@media (max-width: 600px) {
  section.order-table .order-item .name {
    font-size: 22.4px;
  }
}

.board__customer section.header__customer .clipboard {
  -webkit-transform: scale(2.8);
          transform: scale(2.8);
}

.board__customer .choose-table input {
  font-size: 20px;
  text-align: center;
  background-color: #ffd79a;
  border-radius: 10px;
  margin: 6px 0;
}

.board__customer section.menu-list .category {
  border-bottom: 1px solid #9c9c9c;
  position: relative;
}

.board__customer section.menu-list .category .category-btn {
  border-top: 1px solid #9c9c9c;
  border-left: 1px solid #9c9c9c;
  border-right: 1px solid #9c9c9c;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
}

.board__customer section.menu-list .category .category-btn p {
  color: #9c9c9c;
}

.board__customer section.menu-list .category .blighten {
  background-color: #ffd79a;
}

.board__customer section.menu-list .category .category-manage-btn {
  position: absolute;
  top: -30px;
  left: 50px;
  z-index: 9999;
}

.board__customer section.menu-list .menu-item {
  width: 174px;
  height: 195px;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.board__customer section.menu-list .menu-item:hover {
  opacity: 0.6;
  border-radius: 6px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.board__customer section.menu-list .menu-item img {
  border-radius: 4px;
  height: 100%;
}

.board__customer section.menu-list .menu-item img:hover {
  border-radius: 6px;
}

.board__customer section.menu-list .menu-item .text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #9b9999;
  opacity: 0.7;
  border-radius: 0 0 px 4px;
  width: 174px;
  height: 44px;
}

.board__customer section.menu-list .menu-item .text-box:hover {
  border-radius: 0 0 6px 6px;
}

.board__customer section.menu-list .menu-item .text-box p {
  color: #fff;
  font-size: 16px;
}

.board__customer section.menu-list .menu-item .cart-num {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10000;
}

.board__customer section.menu-list .menu-item .badge {
  position: absolute;
  top: 8px;
  left: 40px;
  z-index: 10000;
}

.board__customer section.menu-detail .menu-top-view {
  position: relative;
}

.board__customer section.menu-detail .menu-top-view .text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #9b9999;
  opacity: 0.7;
  width: 100%;
  height: 20%;
}

.board__customer section.menu-detail .menu-top-view .text-box p {
  color: #fff;
  font-size: 28px;
}

@media screen and (max-width: 600px) {
  .board__customer section.menu-detail .menu-top-view .text-box p {
    font-size: 22px;
  }
}

.board__customer section.menu-detail .menu-top-view {
  position: relative;
}

.board__customer section.menu-detail .menu-top-view .menu-img-manage-btn {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
}

.board__customer section.menu-detail .menu-allergy {
  position: relative;
}

.board__customer section.menu-detail .menu-allergy .menu-allergy-manage-btn {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 120px;
}

.board__customer section.menu-detail .menu-allergy .menu_allergy_handle_btn button {
  border-color: transparent;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.board__customer section.menu-detail .allergy-box-brighten {
  background-color: #ffd79a;
  color: #565454;
}

.board__customer section.menu-detail .allergy-box {
  background-color: #9c9c9c;
  color: #fff;
}

.board__customer section.menu-detail .cart-form input {
  width: 39px;
  height: 39px;
  border-radius: 1000px;
  text-align: center;
  font-size: large;
}

.board__customer .menu-detail {
  position: relative;
}

.board__customer .menu-detail .menu-name-manage-btn {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
}

.board__customer .menu-detail {
  position: relative;
}

.board__customer .menu-detail .menu-price-manage-btn {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 10px;
}

.modal-category .category-item {
  border: 1px solid #9c9c9c;
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */