/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

p,
a,
label,
form,
input {
  font-size: 14px;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

*:focus {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.text__bold {
  font-weight: bold;
}

.text__large {
  font-size: large;
}

.input__fixed {
  position: fixed;
  left: 5vh;
  bottom: 10px;
}

.btn__fixed {
  width: 183px;
  position: fixed;
  left: 15vh;
  bottom: 10px;
}

input,
textarea {
  padding: 5px 0 5px 0;
  border-radius: 4px;
}

html {
  &:focus-within {
    scroll-behavior: smooth;
  }
  body {
    text-rendering: optimizeSpeed;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.7rem;
  }
}

// unique default
$blue: #257cff;
$turquoise: #AAE2D1;
$red: #ff5b51;
$orange: #ff9900;
$light-orange: #ffd79a;
$yellow: #ffe5be;
$black: #565454;
$grey: #9c9c9c;
$light-grey: #f1f1f1;
$white: #fff;

h1,
h2,
h3,
h4,
h5,
p,
a,
label,
button,
input,
div {
  color: $black;
}

input,
textarea {
  outline: none;
  border-color: $light-grey;
  box-shadow: 0.4px inset;
}

a {
  &:hover {
    color: $blue;
  }
}

.shadow {
  box-shadow: 0 0 2px 3px $black;
}

.beautify {
  &:hover {
    box-shadow: 0 0 4px 6px $grey;
  }
}

.el__pointer {
  cursor: pointer;
}

.btn {
  border-radius: 100px;
  color: $white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  transition: 0.5s;
  &:hover {
    color: $white;
    transform: scale(0.9);
  }
}

.btn__blue {
  background-color: $blue;
}

.btn__orange {
  background-color: $orange;
}

.btn__grey {
  background-color: $grey;
}

.icon {
  border-radius: 100px;
  text-align: center;
  align-items: center;
  width: 29px;
  height: 29px;
}

.icon_yellow {
  background-color: $yellow;
  color: $black;
}

.icon__red {
  background-color: $red;
  color: $white;
}

.badge {
  text-align: center;
  align-items: center;
  border-radius: 100px;
  font-weight: bold;
}

.badge__orange {
  background-color: $orange;
  color: $white;
}

.badge__turquoise {
  background-color: $turquoise;
}

.badge__grey {
  background-color: $grey;
  color: $white;
}

.badge__yellow {
  background-color: $yellow;
}

// restaurant
.wrapper {
  min-height: 100vh;
  background-color: $light-grey;
  .inner__wrapper {
    max-width: 600px;
  }
  .board {
    background-color: $white;
    border-radius: 10px;
  }
}

.logo {
  background-color: $white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

section.header {
  min-width: 400px;
  background-color: $blue;
  .back {
    color: $black;
    transform: scale(2);
  }
  div {
    color: $white;
  }
  .clipboard {
    color: $white;
    transform: scale(2);
  }
}

// customer
.board__customer {
  section.header__customer {
    .clipboard {
      transform: scale(2);
    }
  }
  .choose-table {
    input {
      font-size: 28px;
      text-align: center;
      background-color: $light-orange;
      border-radius: 10px;
    }
  }
  section.menu-list {
    .category {
      border-bottom: 1px solid $grey;
      .category-btn {
        border-top: 1px solid $grey;
        border-left: 1px solid $grey;
        border-right: 1px solid $grey;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        background-color: $white;
        p {
          color: $grey;
        }
      }
      .blighten {
        background-color: $light-orange;
      }
    }
    .menu-item {
      width: 174px;
      height: 195px;
      border-radius: 4px;
      text-decoration: none;
      position: relative;
      &:hover {
        opacity: 0.6;
      }
      img {
        border-radius: 4px;
        height: 100%;
      }
      .text-box {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10000;
        background-color: #9b9999;
        opacity: 0.7;
        border-radius: 0 0 4px 4px;
        width: 174px;
        height: 44px;
        p {
          color: $white;
          font-size: 16px;
        }
      }
      .cart-num {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 10000;
      }
    }
  }
  section.menu-detail {
    .menu-top-view {
      position: relative;
      .text-box {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10000;
        background-color: #9b9999;
        opacity: 0.7;
        width: 100%;
        height: 20%;
        p {
          color: $white;
          font-size: 28px;
          @media screen and (max-width: 600px) {
            font-size: 22px;
          }
        }
      }
    }
    .allergy-box-brighten {
      background-color: $light-orange;
      color: $white;
    }
    .allergy-box {
      background-color: $grey;
      color: $white;
    }
    input {
      width: 39px;
      height: 39px;
      border-radius: 1000px;
      text-align: center;
      font-size: large;
    }
  }
}
