{% if user.is_authenticated %}
  <button type="button" class="category-manage-btn btn btn__blue shadow px-3" data-toggle="modal" data-target="#category-manage-btn__ModalCenter">
    <i class="fas fa-pencil-alt"></i>
  </button>

  <div class="modal modal-category fade" id="category-manage-btn__ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header row">
          <h5 class="modal-title col-10" id="exampleModalCenterTitle">
            カテゴリ* を変更する<br />
            <span class="pl-3 text__small">*メニューのまとまりのことです。<br />例)「メイン」「一品物」「飲み物」「飲み放題」</span>
          </h5>
          <button type="button" class="col-2 close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-wrap">
            {% for category in categories %}
              <p class="category-item p-2 mr-1">{{ category.name }}</p>
            {% endfor %}
          </div>
          <hr class="pb-3">

          <form class="row py-2 d-flex align-items-center justify-content-around" action="{% url 'restaurant:category_add' %}" method="POST">{% csrf_token %}
            <p class="col-2 badge__orange py-1">追加</p>
            <div class="col-5">
              <input name="add_category_form" type="text" required>
              <input class="mt-3" name="nomiho" type="checkbox" value="True">飲み放題用
            </div>
            <button type="submit" class="col-2 btn btn__orange" onclick="loading_show()">
              保存
            </button>
          </form>
          <hr>

          <form class="row py-2 d-flex align-items-center justify-content-around" action="{% url 'restaurant:category_ch' %}" method="POST">{% csrf_token %}
            <p class="col-2 badge__light-orange py-1">変更</p>
            <div class="col-5">
              <p class="mb-1">変更前の名前</p>
              <select name="category_name" class="w-100 py-2 mb-3">
                {% for category in categories %}
                  <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
              </select>
              <p class="mb-1">変更後の名前</p>
              <input type="text" name="ch_category_form" required>
              <input class="mt-3" name="nomiho" type="checkbox" value="True">飲み放題用
            </div>
            <button type="submit" class="col-2 btn btn__light-orange" onclick="loading_show()">
              更新
            </button>
          </form>
          <hr>

          <form class="row py-2 d-flex align-items-center justify-content-around" action="{% url 'restaurant:category_del' %}" method="POST">{% csrf_token %}
            <p class="col-2 badge__grey py-1">削除</p>
            <select name="del_category_form" class="col-5 mt-3 py-2 mb-3">
              {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="col-2 btn btn__grey" onclick="loading_show(); style.display='none';">
              実行
            </button>
          </form>
          <hr>

          <form class="py-2" action="{% url 'restaurant:category_menu_ch' %}" method="POST">{% csrf_token %}
            <p class="badge__blue py-1 mx-5">メニューの属するカテゴリーを変更</p>
            <div class="py-2 d-flex align-items-center justify-content-around">
              <div class="py-3">
                <label>カテゴリー</label>
                <select name="category_id" class="w-100 my-3 py-2">
                  {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="py-3">
                <label>メニュー</label>
                <select name="menu_id" class="w-100 my-3 py-2">
                  {% for menu in menus %}
                    <option value="{{ menu.id }}">{{ menu.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button type="submit" class="w-50 btn btn__blue" onclick="loading_show(); style.display='none';">
              更新
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
