{% if user.is_authenticated %}
  <div class="btn__fixed">
    <button type="button" class="menu-add-btn btn btn__orange shadow" data-toggle="modal" data-target="#menu-add-btn__ModalCenter">
      メニューを追加する
    </button>

    {% if menus|length == 0 %}
    {% else %}
      <button type="button" class="menu-del-btn btn btn__grey shadow my-3" data-toggle="modal" data-target="#menu-del-btn__ModalCenter">
        メニューを削除する
      </button>
    {% endif %}
  </div>

  <div class="modal fade" id="menu-add-btn__ModalCenter" tabindex="-1" role="dialog" aria-labelledby="menu-add-btn__ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-body text-left py-3">
        <div class="modal-header">
          <h5 class="modal-title mx-auto" id="menu-add-btn__ModalCenterTitle">メニューを追加する</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% if categories|length == 0 %}
          <p class="text-center py-4">先に画面左上の鉛筆マークを押して、カテゴリを追加してください。</p>
        {% else %}
          <form method="POST" enctype="multipart/form-data" action="{% url 'restaurant:menu_add' %}">{% csrf_token %}
            <div class="pt-4 pb-2">
              <label>表示する画像</label><br>
              <input name="img" type="file" value="{{ menu.name }}" required><br>
            </div>
            <div class="py-2">
              <label>表示名</label><br>
              <input class="w-50" name="name" type="text" required><br>
            </div>
            <div class="py-2">
              <label>カテゴリ</label><br>
              <select class="w-50" name="category">
                {% for category in categories %}
                  <option name="category" value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
              </select><br>
            </div>
            <div class="py-2">
              <label>価格</label><br>
              ¥ <input name="price" type="number" min=0 required><br>
            </div>
            <div class="pt-2 pb-4">
              <label>アレルギー</label><br>
              <div class="d-flex align-items-center">
                {% for allergy in allergies %}
                  <input name="allergy" type="checkbox" value="{{ allergy.ingredient }}" class="mr-2 ml-3">{{ allergy }}
                {% endfor %}
              </div>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="px-4 py-2 btn btn__grey" data-dismiss="modal">中止</button> -->
              <button type="submit" class="mx-auto focus px-4 py-2 btn btn__blue w-50" onclick="loading_show()">
                追加
              </button>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="modal fade" id="menu-del-btn__ModalCenter" tabindex="-1" role="dialog" aria-labelledby="menu-del-btn__ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" action="{% url 'restaurant:menu_del' %}" method="POST">{% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="menu-del-btn__ModalCenterTitle">メニューを削除する</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select class="w-50 py-2" name="menu">
            {% for menu in menus %}
              <option name="menu" value="{{ menu }}">{{ menu }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="px-4 py-2 btn btn__grey" data-dismiss="modal">中止</button> -->
          <button type="submit" class="px-4 py-2 btn btn__red mx-auto w-50" onclick="loading_show(); style.display='none';">
            削除
          </button>
        </div>
      </form>
    </div>
  </div>
{% endif %}
