<button type="button" class="nomiho-manage-btn btn btn__blue shadow px-3" data-toggle="modal" data-target="#nomiho-manage-btn__ModalCenter">
  <i class="fas fa-pencil-alt"></i>
</button>

<div class="modal modal-nomiho text-left fade" id="nomiho-manage-btn__ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          飲み放題プランの操作
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="py-2" action="{% url 'restaurant:nomiho_add' %}" method="POST">{% csrf_token %}
          <div>
            <label>プラン名</label><br />
            <input class="w-100 pl-2" type="text" name="nomiho_name" required>
          </div>
          <div>
            <label class="pt-3">料金</label><br />
            <input class="text-right pr-2" type="number" name="nomiho_price" required> 円
          </div>
          <div>
            <label class="pt-3">制限時間</label><br />
            <input class="text-right pr-2" type="number" name="nomiho_duration" required> 分
          </div>
          <div>
            <label class="pt-3">コメント</label><br />
            <input class="w-100 pl-2" type="textarea" name="nomiho_comment" required>
          </div>
          <button type="submit" class="w-50 mt-4 btn btn__orange" onclick="loading_show(); style.display='none';">
            追加
          </button>
        </form>
        <hr>

        <form class="p-2" action="{% url 'restaurant:nomiho_ch' %}" method="POST">{% csrf_token %}
          <div>
            <p>更新したいプラン</p>
            <select name="nomiho_id" class="w-100 mt-3 py-2">
              {% for nomiho in nomihos %}
                <option name="nomiho_id" value="{{ nomiho.id }}">{{ nomiho.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <div class="pt-3">
              <label>更新後のプラン名</label><br />
              <input class="pl-2 w-100" type="text" name="nomiho_name" required>
            </div>
            <div class="pt-3">
              <label>料金</label><br />
              <input class="text-right pr-2" type="number" name="nomiho_price" required>  円
            </div>
            <div class="pt-3">
              <label>制限時間</label><br />
              <input class="text-right pr-2" type="number" name="nomiho_duration" required>  分
            </div>
            <div class="pt-3">
              <label>コメント</label><br />
              <input class="w-100 pl-2" type="textarea" name="nomiho_comment" required>
            </div>
            <hr>
          </div>
          <button type="submit" class="mt-3 btn btn__light-orange w-50" onclick="loading_show(); style.display='none';">
            更新
          </button>
        </form>
        <hr>

        <form class="p-2" action="{% url 'restaurant:nomiho_del' %}" method="POST">{% csrf_token %}
          <div>
            <p>プラン名</p>
            <select name="del_nomiho_form" class="w-100 mt-3 py-2">
              {% for nomiho in nomihos %}
                <option name="nomiho_id" value="{{ nomiho.id }}">{{ nomiho.name }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="mt-4 w-50 btn btn__grey" onclick="loading_show(); style.display='none';">
            削除
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
