　<button type="button" class="order-item-card w-100 d-flex align-items-center justify-content-between focus" data-toggle="modal" data-target="#order-modal__ModalCenter">
    <div class="d-flex align-items-center justify-content-between">
      {% if order.status == '調理中' %}
        <div class="badge__orange px-sm-3 p-1 py-sm-2 ml-sm-3 ml-1 mr-sm-5 mr-3">
          <p class="text__bold text__large" style="color: white;">注文</p>
        </div>
      {% elif order.status == 'キャンセル' %}
        <div class="badge__blue p-sm-2 p-1 ml-sm-3 ml-1 mr-3">
        <p class="text__bold" style="color: white;">{{ order.status }}</p>
        </div>
      {% elif order.status == '済' %}
        <div class="badge__grey px-sm-3 p-1 py-sm-2 ml-sm-3 ml-1 mr-sm-5 mr-3">
          <p class="text__bold text__large" style="color: white;">{{ order.status }}</p>
        </div>
      {% endif %}
      <p class="mt-3 table text__bold icon icon_yellow text__large">{{ order.customer.table }}</p>
    </div>

    <div>
      <p class="name text__bold">{{ order.menu.name }}</p>
    </div>

    <div class="d-flex justify-content-between align-items-center mr-sm-5 mr-2">
      {% if order.request %}
        <button type="button" class="btn btn__red px-3" data-toggle="modal" data-target="#request-cart-btn-{{ cart.id }}__ModalCenter">
          <i class="far fa-laugh"></i>
        </button>
        {% include 'components/restaurant/modal/request.html' %}
      {% endif %}
      <p class="num mr-sm-5 mr-3 text__bold text__large icon icon__red">{{ order.num }}</p>
      <p class="created_at text__large text__bold">{{ order.created_at | time }}</p>
    </div>
  </button>

  <div class="modal fade" id="order-modal__ModalCenter" tabindex="-1" role="dialog" aria-labelledby="order-modal__ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="modal-content mb-5" action="{% url 'restaurant:order_status_ch_menu' order.id %}" method="POST">{% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="order-modal__ModalCenterTitle">注文内容を変更</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-auto d-block text-center">
          <div class="py-3">
            <label>メニュー</label><br />
            <select name="required_menu_id">
              {% for menu in menus %}
                <option value="{{ menu.id }}">{{ menu.category }}-----{{ menu.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="py-3">
            <label>個数</label><br />
            <input type="number" name="required_order_num" value="{{ order.num }}" min=1 class="text__large text__bold text-center">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="px-4 py-2 btn btn__grey mx-auto w-50" onclick="loading_show()">
            実行
          </button>
        </div>
      </form>

      <form class="modal-content mt-5" action="{% url 'restaurant:order_status_ch' order.id %}" method="POST">{% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="order-modal__ModalCenterTitle">注文状況を更新</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-auto">
          <div class="py-3 d-flex justify-content-around align-items-center">
            <input type="radio" name="order_status" value="調理中" checked id="cookingRadio"><p id="cooking" class="badge__orange ml-3 mr-4 px-3 py-2 text__bold">オーダー</p>
            <input type="radio" name="order_status" value="キャンセル" id="chancelRadio"><p id="chancel" class="badge__blue ml-3 mr-4 px-3 py-2 text__bold">キャンセル</p>
            <input type="radio" name="order_status" value="済" id="doneRadio"><p id="done" class="badge__grey ml-3 px-3 py-2 text__bold">済</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="px-4 py-2 btn btn__blue mx-auto w-50" onclick="loading_show()">
            実行
          </button>
        </div>
      </form>
    </div>
  </div>
