{% load static %}

{% for message in messages %}
  <div class="message-{{ message.tags }} message text-center">
    <p class="py-2 text__bold">{{ message }}</p>
  </div>
{% endfor %}

<section class="p-2 header w-100">
  <div class="d-flex justify-content-between">
    <div class="d-flex px-3">
      <div class="m-auto logo shadow d-flex align-items-center">
        {% if request.path == '/order_manage/' %}
          {% if request.user.logo.url %}
            <img src="{{ request.user.logo.url }}" alt="Restaurant Logo">
          {% else %}
            <img src="{% static 'img/logo.png' %}" alt="Default Logo">
          {% endif %}
        {% else %}
          <a href="{% url 'restaurant:order_manage' %}" class="m-auto back focus" onclick="loading_show()">戻る</a>
        {% endif %}
      </div>
      <div class="title my-auto text__bold pl-3 d-flex align-items-center">
        <h5 class="pr-sm-5 mr-sm-5">{{ user.name }}</h5>
        <h5 class="pl-sm-5 ml-sm-5 ml-sm-2 ml-5 text__bold">
          {% if request.path == '/order_manage/' %}
            注文管理
          {% elif request.path == '/order_manage/history/total/' %}
            お客様お会計
          {% elif request.path == '/order_manage/history/daily/' %}
            売上管理
          {% elif request.path == '/order_manage/history/' %}
            修正
          {% endif %}
        </h5>
      </div>
    </div>

    <!-- pc size -->
    <div class="d-sm-flex d-none align-items-center">
      {% include 'components/restaurant/nav.html' %}
    </div>

    <!-- mobile size -->
    <nav class="navbar d-sm-none d-flex navbar-dark align-items-center mr-4">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleRestaurant" aria-controls="navbarToggleRestaurant" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

  <!-- mobile size -->
  <div class="collapse d-sm-none restraurant-collapse text-center" id="navbarToggleRestaurant">
    {% include 'components/restaurant/nav.html' %}
  </div>
</section>
