{% load static %}

<section class="p-2 header w-100 d-flex justify-content-between">
  <div class="d-flex px-3">
    <div class="m-auto logo shadow d-flex align-items-center">
      {% if request.path == '/order_manage/' %}
        <img src="{% static 'img/common/logo.svg' %}" alt="Logo" class="m-3">
      {% else %}
        <a href="{% url 'restaurant:order_manage' %}" class="m-auto back focus">戻る</a>
      {% endif %}
    </div>
    <div class="title my-auto text__bold pl-3 pt-2 d-flex align-items-center">
      <h5 class="pr-sm-5 mr-sm-5">{{ user.name }}</h5>
      <h5 class="pl-sm-5 ml-sm-5 ml-2 text__bold">
        {% if request.path == '/order_manage/' %}
          注文管理表
        {% else %}
          注文履歴
        {% endif %}
      </h5>
    </div>
  </div>
  <div class="px-3 my-auto d-flex align-items-center">
    <a class="mr-5 back-menu" href="{% url 'restaurant:manage_menu' %}" id="manageMenu">（メニューを作成・管理する）</a>
    {% if request.path == '/order_manage/' %}
      <a href="{% url 'restaurant:history' %}"><i class="clipboard fas fa-clipboard-list mr-sm-0 mr-5"></i></a>
    {% endif %}
  </div>
</section>
