{% load static %}

<section class="p-2 header w-100 d-flex justify-content-between">
  <div class="d-flex px-3">
    <div class="m-auto logo shadow d-flex align-items-center">
      {% if request.path == '/order_manage/' %}
        <img src="{% static 'img/logo.png' %}" alt="Logo">
      {% else %}
        <a href="{% url 'restaurant:order_manage' %}" class="m-auto back focus">戻る</a>
      {% endif %}
    </div>
    <div class="title my-auto text__bold pl-3 d-flex align-items-center">
      <h5 class="pr-sm-5 mr-sm-5">{{ user.name }}</h5>
      <h5 class="pl-sm-5 ml-sm-5 ml-sm-2 ml-5 text__bold">
        {% if request.path == '/order_manage/' %}
          注文管理
        {% elif request.path == '/order_manage/history/total/' %}
          お客様お会計
        {% elif request.path == '/order_manage/history/daily/' %}
          売上管理
        {% elif request.path == '/order_manage/history/' %}
          注文履歴
        {% endif %}
      </h5>
    </div>
  </div>
  <div class="px-3 my-auto d-flex align-items-center">
    {% if request.path != '/order_manage/' %}
      {% if request.path != '/order_manage/history/total/'  %}
        <a class="back-menu mx-sm-3 mx-2" href="{% url 'restaurant:total' %}">お客様<br class="d-sm-none d-block" />お会計</a>
      {% endif %}
      {% if request.path != '/order_manage/history/daily/' %}
        <a class="back-menu mx-sm-3 mx-2" href="{% url 'restaurant:daily' %}">売上<br class="d-sm-none d-block" />管理</a>
      {% endif %}
    <a class="back-menu mr-sm-0 mr-3" href="{% url 'restaurant:manage_menu' %}" id="manageMenu">メニュー<br class="d-sm-none d-block" />管理</a>
    {% endif %}
    {% if request.path == '/order_manage/' %}
      <a href="{% url 'restaurant:history' %}"><i class="clipboard fas fa-clipboard-list mr-sm-0 mr-5"></i></a>
    {% endif %}
  </div>
</section>
