{% load static %}

<div class="nav-list px-3 py-3 my-auto d-sm-flex align-items-center">
  <a class="back-menu mx-3" href="{% url 'restaurant:history' %}" id="manageMenu" onclick="loading_show()">修正</a>
  <a class="back-menu mx-3" href="{% url 'restaurant:total' %}" onclick="loading_show()">お客様お会計</a>
  <a class="back-menu mx-3" href="{% url 'restaurant:daily' %}" onclick="loading_show()">売上管理</a>
  <a class="back-menu mx-3" href="{% url 'restaurant:manage_menu' %}" onclick="loading_show()"><i class="clipboard fas fa-clipboard-list"></i></a>
</div>
