{% extends 'base.html' %}
{% load static %}

{% block custom__header %}
  <title>オーダー管理</title>
{% endblock %}

{% block content %}
<div class="wrapper w-100">
  <div class="inner__wrapper m-auto py-5 px-sm-0 px-3">
    <div class="board shadow beautify text-center my-5 py-4 px-5">
      <h4 class="text__bold">ログイン画面</h4>
      <div class="d-flex p-5 mx-5">
        <div class="pl-5">
          <img src="{% static 'img/common/logo.svg' %}" alt="Logo" class="logo shadow">
        </div>
        <h5 class="m-auto">beanstalk</h5>
      </div>
      <form method="POST" action="{% url 'restaurant:order_manage' %}">{% csrf_token %}
        <label>メールアドレス</label><br>
        <input name="username" class="px-3 mb-3 w-50 py-2" value="{{ email }}"><br>
        <label>確認コード</label><br>
        <input name="passcode" class="px-3 mb-3 w-50 py-2"><br>
        <div class="pt-5">
          <button type="submit" class="px-4 btn btn__blue shadow">ログイン</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
