{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block custom__header %}
  <title>売上管理</title>
{% endblock %}

{% block content %}
<div class="w-100 restaurant">
  {% include 'components/restaurant/header.html' %}
  <section class="pt-5 daily">
    <div class="p-sm-5 pt-5 p-2">
      <div class="daily-interest p-2 m-2">
        <p>指定期間内の売上と各商品の数量</p>
        <div class="py-3">
          <p class="text-center text__bold text__large">{{ pointed_total_price }}　円</p>
          <form action="{% url 'restaurant:daily' %}" method="GET">
            <p class="pb-2">期間を指定してください</p>
            <div class="d-sm-flex align-items-center">
              <div class="d-flex align-items-center">
                <input type="datetime-local" name="start" value="{{ start }}" required>
                <p class="px-2">から</p>
              </div>
              <div class="d-flex align-items-center py-sm-0 py-2">
                <input type="datetime-local" name="end" value="{{ end }}" required>
                <p class="px-2">まで</p>
                <button type="submit" class="ml-sm-3 ml-5 btn btn__blue px-3">
                  絞り込み
                </button>
              </div>
            </div>
          </form>
        </div>
        <table border="1" class="w-100">
          <tr class="text-center">
            <th>料理名</th>
            <th>単価（円）</th>
            <th>個数</th>
            <th>テーブル番号</th>
          </tr>
          {% for order in pointed_orders %}
            <tr>
              <td class="px-sm-3 px-2">{{ order.menu.name }}</td>
              <td class="px-sm-3 px-2 text-right">{{ order.menu.price }}</td>
              <td class="px-sm-3 px-2 text-right">{{ order.num }}</td>
              <td class="px-sm-3 px-2">{{ order.customer.table }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>

      <div class="total-interest p-2 mt-5 m-2">
        <p>売上総額</p>
        <div class="py-3">
          <p class="text-center text__bold text__large">{{ total_price }}　円</p>
        </div>
        <table border="1" class="w-100">
          <tr class="text-center">
            <th>料理名</th>
            <th>単価（円）</th>
            <th>個数</th>
            <th>テーブル番号</th>
          </tr>
          {% for order in orders %}
            <tr>
              <td class="px-sm-3 px-2">{{ order.menu.name }}</td>
              <td class="px-sm-3 px-2 text-right">{{ order.menu.price }}</td>
              <td class="px-sm-3 px-2 text-right">{{ order.num }}</td>
              <td class="px-sm-3 px-2">{{ order.customer.table }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </section>
</div>
{% endblock %}
