{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block custom__header %}
  <title>売上管理</title>
  {% include 'components/restaurant/onesignal.html' %}
{% endblock %}

{% block content %}
<div class="w-100 restaurant">
  {% include 'components/restaurant/header.html' %}
  <section class="pt-5 daily">
    <div class="p-sm-5 pt-5 p-2">
      <div class="daily-interest shadow p-sm-3 p-2 m-2">
        <p>指定期間内の売上と各商品の数量</p>
        <div class="py-3">
          <p class="text-center text__bold text__large">{{ pointed_total_price }}　円</p>
          <form action="{% url 'restaurant:daily' %}" method="POST">{% csrf_token %}
            <p class="pb-2">期間を指定してください</p>
            <div class="d-sm-flex align-items-center">
              <div class="d-flex align-items-center">
                <input type="datetime-local" name="start" value="{{ start }}" required on>
                <p class="px-2">から</p>
              </div>
              <div class="d-flex align-items-center py-sm-0 py-2">
                <input type="datetime-local" name="end" value="{{ end }}" required on>
                <p class="px-2">まで</p>
                <button type="submit" class="ml-sm-3 ml-4 btn btn__blue px-3">
                  絞り込み
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-sm-6 col-12">
            <p>テーブル毎単品詳細（飲み放題メニュー抜き）</p>
            <table border="1" class="w-100 shadow">
              <tr class="text-center">
                <th>料理名</th>
                <th>単価（円）</th>
                <th>個数</th>
              </tr>
              {% for order in pointed_orders %}
                {% if not order.menu.price == 0 %}
                  <tr>
                    <td class="px-sm-3 px-2">{{ order.menu.name }}</td>
                      <td class="px-sm-3 px-2 text-right">{{ order.menu.price | intcomma }}</td>
                    <td class="px-sm-3 px-2 text-right">{{ order.num }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
          <div class="col-sm-6 col-12">
            <p>飲み放題</p>
            <table border="1" class="w-100 shadow">
              <tr class="text-center">
                <th>プラン名</th>
                <th>単価（円）</th>
                <th>人数</th>
              </tr>
              {% for pointed_nomiho_order in pointed_nomiho_orders %}
                <tr>
                  <td class="px-sm-3 px-2">{{ pointed_nomiho_order.nomiho.name }}</td>
                  <td class="px-sm-3 px-2 text-right">{{ pointed_nomiho_order.nomiho.price }}</td>
                  <td class="px-sm-3 px-2 text-right">{{ pointed_nomiho_order.num }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>

      </div>

      <div class="total-interest shadow p-sm-3 p-2 mt-5 m-2">
        <p>売上総額</p>
        <div class="py-3">
          <p class="text-center text__bold text__large">{{ total_price }}　円</p>
        </div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <p>テーブル毎単品詳細（飲み放題メニュー抜き）</p>
            <table border="1" class="w-100 shadow">
              <tr class="text-center">
                <th>料理名</th>
                <th>単価（円）</th>
                <th>個数</th>
              </tr>
              {% for order in orders %}
                {% if not order.menu.price == 0 %}
                  <tr>
                    <td class="px-sm-3 px-2">{{ order.menu.name }}</td>
                    <td class="px-sm-3 px-2 text-right">{{ order.menu.price }}</td>
                    <td class="px-sm-3 px-2 text-right">{{ order.num }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>

          <div class="col-sm-6 col-12">
            <p>飲み放題</p>
            <table border="1" class="w-100 shadow">
              <tr class="text-center">
                <th>料理名</th>
                <th>単価（円）</th>
                <th>個数</th>
              </tr>
              {% for nomiho_order in nomiho_orders %}
                <tr>
                  <td class="px-sm-3 px-2">{{ nomiho_order.nomiho.name }}</td>
                  <td class="px-sm-3 px-2 text-right">{{ nomiho_order.nomiho.price }}</td>
                  <td class="px-sm-3 px-2 text-right">{{ nomiho_order.num }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
