{% extends 'base.html' %}
{% load static %}
{% load webpush_notifications %}  <!-- webpush_notificationsのカスタムテンプレートタグの読み込み -->

{% block custom__header %}
  <title>注文管理</title>
  {% webpush_header %}  <!-- webpush用のmetaタグとスクリプトの読み込み -->
{% endblock %}

{% block content %}
<div class="wrapper restaurant w-100">
  <div class="inner__wrapper m-auto py-5 px-sm-0 px-3">
    <div class="board shadow beautify text-center my-5 py-4 px-5">
      <h4 class="text__bold">
        {% if request.path == '/login/' %}
          ログイン画面
        {% elif request.path == '/manage/login/' %}
          メニュー管理
        {% endif %}
      </h4>
      <div class="d-flex p-5 mx-sm-5">
        <div class="pl-5">
          <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo shadow">
        </div>
        <h5 class="m-auto">注文・メニュー管理</h5>
      </div>
      <form method="POST" action="{% url 'restaurant:order_manage' %}">{% csrf_token %}
        <label>メールアドレス</label><br>
        {% if email %}
          <input name="username" value="{{ email }}" class="px-3 mb-3 w-sm-50 w-100 py-2 text__bold text__large" readonly>
        {% else %}
          <input name="username" class="px-3 mb-3 w-sm-50 w-100 py-2 text__bold text__large">
        {% endif %}
        <br>
        <div class="pt-5">
          <button type="submit" class="px-5 py-3 btn btn__blue shadow" onclick="loading_show()" id="loginBtn">
            <!-- 認証コードを受け取る -->
            ログイン
          </button>
        </div>
      </form>
      <div class="mt-5 mb-3 webpush-btn" id="webpushBtn">
        {% webpush_button %}  <!-- push通知の購読ボタン -->
      </div>
    </div>
    <div class="pt-3 admin row">
      <div class="col-sm-6 col-12">
        {% if request.path == '/manage/login/' %}
          <a href="{% url 'restaurant:order_manage' %}" onclick="loading_show()">注文管理画面に戻る</a>
        {% endif %}
      </div>
      <div class="col-sm-6 col-12 text-sm-right pt-sm-0 pt-3">
        <a href="{% url 'customer:index' %}" onclick="loading_show()">お客様から見える画面を確認する</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
