{% extends 'base.html' %}
{% load static %}

{% block custom__header %}
  <meta http-equiv="refresh" content="10; URL=">
  <title>オーダー管理</title>
{% endblock %}

{% block content %}
<div class="w-100 order-manage-wrapper">
  {% block header__restaurant %}
    {% include 'components/header__restaurant.html' %}
  {% endblock %}
  <div class="pt-5">
    <div class="pt-sm-3 pt-5">
      <p>＊このページは10秒毎に自動で再読み込みします</p>
      {% block order_table %}
        {% include 'components/order_table.html' %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
