{% extends 'base.html' %}
{% load static %}

{% block custom__header %}
  <meta http-equiv="refresh" content="10; URL=">
  <title>注文管理</title>
  {% include 'components/restaurant/onesignal.html' %}
{% endblock %}

{% block content %}
<div class="w-100 restaurant">
  {% include 'components/restaurant/header.html' %}
  <div class="pt-5">
    <div class="pt-sm-3 pt-5">
      <p class="text-sm-left text-center pt-sm-3 pl-sm-3">＊このページは10秒毎に自動で再読み込みします</p>

      <div class="d-flex pt-sm-3 pt-3 pl-sm-3">
        <form action="{% url 'restaurant:order_manage' %}" method="POST">{% csrf_token %}
          <p class="pb-2">テーブル番号を指定してください</p>
          <div class="d-sm-flex align-items-center py-sm-0 py-2">
            <input type="number" name="table" class="mr-2 text-center" min="1" value="{{ table }}" required>番
            <!-- hidden -->
            <input type="hidden" name="filter-type" value="table-filter">
            <button type="submit" class="ml-sm-3 btn btn__blue px-sm-3 text__small">
              絞り込み
            </button>
          </div>
        </form>

        <form class="pt-sm-1 pt-5 ml-sm-2" action="{% url 'restaurant:order_manage' %}" method="POST">{% csrf_token %}
          <!-- hidden -->
          <input type="hidden" name="filter-type" value="table-filter-clear">
          <button type="submit" class="btn btn__grey mt-sm-4 text__small">
            クリア
          </button>
        </form>
      </div>

      {% include 'components/restaurant/order_table.html' %}
    </div>
  </div>
</div>
{% endblock %}
