{% block order_modal %}
  {% if order.status == '調理中' %}
　　 <button type="button" class="status mr-sm-5 mr-3 badge__orange focus text__bold text__large px-sm-3 py-sm-2" data-toggle="modal" data-target="#order-modal__ModalCenter">
      オーダー
    </button>
  {% elif order.status == 'キャンセル' %}
　　 <button type="button" class="status mr-sm-5 mr-3 badge__blue text__bold text__large px-sm-3 py-sm-2" data-toggle="modal" data-target="#order-modal__ModalCenter">
      {{ order.status }}
    </button>
  {% elif order.status == '済' %}
  　 <button type="button" class="status mr-sm-5 mr-3 badge__grey text__bold text__large px-sm-3 py-sm-2" data-toggle="modal" data-target="#order-modal__ModalCenter">
      {{ order.status }}
    </button>
  {% endif %}

  <div class="modal fade" id="order-modal__ModalCenter" tabindex="-1" role="dialog" aria-labelledby="order-modal__ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" action="{% url 'restaurant:order_status_ch' %}" method="POST">{% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="order-modal__ModalCenterTitle">オーダーのステータスを変更</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-auto">
          <select class="py-3 px-5" name="order_status">
            <option value="調理中">オーダー</option>
            <option value="キャンセル">キャンセル</option>
            <option value="済">済</option>
          </select>
        </div>
        <!-- hidden -->
        <input type="hidden" name="order_id" value='{{ order.id }}'>
        <div class="modal-footer">
          <button type="button" class="px-4 py-2 btn btn__grey" data-dismiss="modal">キャンセル</button>
          <button type="submit" class="px-4 py-2 btn btn__blue">実行</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
