{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{# % load restaurant_filters % #}

{% block custom__header %}
  <title>お客様お会計</title>
{% endblock %}

{% block content %}
<div class="w-100 restaurant">
  {% include 'components/restaurant/header.html' %}
  <div class="pt-5">
    <div class="pt-sm-3 pt-5">
      {% regroup orders by customer.table as table_list %}
      {% for table in table_list %}
        <div class="mx-4 my-3">
          <div class="d-flex">
            <p class="text__bold pb-3">テーブル番号： {{ table.grouper }}</p>
          </div>
          <table border="1" class="w-100">
            <tr class="text-center">
              <th>料理名</th>
              <th>単価（円）</th>
              <th>個数</th>
              <th>状況</th>
              <th>小計（円）</th>
            </tr>
            {% for order in table.list %}
              <tr>
                <td class="px-sm-3 px-2">{{ order.menu }}</td>
                <td class="text-right px-sm-3 px-2">{{ order.menu.price | intcomma }}</td>
                <td class="text-right px-sm-3 px-2">{{ order.num }}</td>
                <td class="px-sm-3 px-2">{{ order.status }}</td>
                <td class="text-right px-sm-3 px-2" id="subTotal">{{ order.menu.price|mul:order.num | intcomma }}</td>
              </tr>
            {% endfor %}
          </table>
          <p class="text__bold text__large text-right pt-3" id="sumOfTable">合計：　{{ table.list.price }}</p>
        </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
