{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load restaurant_filters %}

{% block custom__header %}
  <title>卓版管理</title>
{% endblock %}

{% block content %}
<div class="w-100 restaurant">
  {% include 'components/restaurant/header.html' %}
  <div class="pt-5">
    <div class="pt-sm-3 pt-5">
      {% regroup orders by customer as users_list %}
      {% for users in users_list %}
        <div class="mx-4 my-3">
          <div class="d-flex">
            <p class="text__bold pb-3">テーブル： {{ users.grouper.table }}</p>
            <p class="text__bold pb-3 pl-sm-5 pl-4">お客様ID：　{{ users.grouper }}</p>
          </div>
          <div class="row">
          {% for order in users.list %}
            <div class="col-sm-2 col-6">
              <p>料理名：　{{ order.menu }}</p>
              <p>　単価：　{{ order.menu.price }}</p>
              <p>　個数：　{{ order.num }}</p>
              <p>　状況：　{{ order.status }}</p>
              <p>　小計：　{% multiply order.menu.price order.num %}</p>
            </div>
          {% endfor %}
          </div>
          <p class="text__bold pt-3">合計：　{#% sum subtotal %#}</p>
        </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
