{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block custom__header %}
  <meta http-equiv="refresh" content="10; URL=">
  <title>お客様お会計</title>
  {% include 'components/restaurant/onesignal.html' %}
{% endblock %}

{% block content %}
<div class="w-100 restaurant">
  {% include 'components/restaurant/header.html' %}
  <section class="pt-5 total">
    <div class="pt-sm-3 pt-5">
      <p class="text-sm-left text-center pt-sm-3 pl-sm-3">＊このページは10秒毎に自動で再読み込みします</p>
      <div class="table-list shadow py-5 mx-4">

        <div class="pb-4 text__bold text-center">
          <p class="text__large pb-3">利用中のテーブルお会計終了ボタン</p>
          <p class="text__underline">お会計の終了時に必ずタッチしてください</p>
        </div>
        <div class="d-flex pt-3 pb-5 justify-content-center align-items-center flex-wrap">
          {% for active_table in active_table_list %}
            {% include 'components/restaurant/modal/stop.html' %}
            {% empty %}
            <p>なし</p>
          {% endfor %}
        </div>

        <div class="px-3">
          <p class="text__bold text__large text-center">合計（すでに調理・提供済みのメニューと飲み放題の合計金額）</p>
          <table border="1" class="w-100 my-3 shadow">
            <tr class="text-center">
              <th>テーブル番号</th>
              <th>合計（円）</th>
              <th>修正</th>
            </tr>
            <!-- {# % for key, value in active_table_price_list.items % #}
              <tr class="text-right">
                <td class="px-sm-3 px-2">{{ key }}</td>
                <td class="px-sm-3 px-2">{{ value | intcomma }}</td>
              </tr> -->
            {% if table_price.count > 1 %}
              {% for each in table_price %}
                <tr class="text-right">
                  <td class="px-sm-3 px-2">{{ each }}</td>
                  <td class="px-sm-3 px-2 table-price">{{ each.price | intcomma }}</td>
                  <td>{% include 'components/restaurant/modal/table.html' %}</td>
                </tr>
              {% empty %}
                <tr class="text-right">
                  <td class="px-sm-3 px-2">なし</td>
                  <td class="px-sm-3 px-2">なし</td>
                  <td>なし</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr class="text-right">
                <td class="px-sm-3 px-2">{{ table_price }}</td>
                <td class="px-sm-3 px-2 table-price">{{ table_price.price | intcomma }}</td>
                <td>{% include 'components/restaurant/modal/table.html' %}</td>
              </tr>
            {% endif %}
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-12">
          <p class="text__bold text__large text-center pt-5 pb-3">テーブル毎単品詳細（飲み放題メニュー抜き）</p>
          <hr>
          {% regroup orders by customer.table as table_list %}
          {% for table in table_list %}
            <div class="mx-4 my-3">
              <div class="d-flex justify-content-around pb-4">
                <p class="text__bold pb-3">テーブル番号： {{ table.grouper }}</p>
              </div>
              <table border="1" class="w-100 shadow">
                <tr class="text-center">
                  <th>料理名</th>
                  <th>単価（円）</th>
                  <th>個数</th>
                  <th>状況</th>
                  <th>小計（円）</th>
                </tr>
                {% for order in table.list %}
                  {% if not order.menu.price == 0 %}
                    <tr>
                      <td class="px-sm-3 px-2">{{ order.menu }}</td>
                      <td class="text-right px-sm-3 px-2">{{ order.menu.price | intcomma }}</td>
                      <td class="text-right px-sm-3 px-2">{{ order.num }}</td>
                      <td class="px-sm-3 px-2">{{ order.status }}</td>
                      <td class="text-right px-sm-3 px-2">{{ order.menu.price|mul:order.num | intcomma }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>
            <hr />
          {% endfor %}
        </div>

        <div class="col-sm-6 col-12">
          <p class="text__bold text__large text-center pt-5 pb-3">飲み放題実施状況</p>
          <hr>
          {% for nomiho_order in nomiho_orders %}
            <div class="mx-4 my-3">
              <div class="d-flex justify-content-around pb-4">
                <p class="text__bold pb-3">テーブル番号： {{ nomiho_order.table }}</p>
              </div>
              <table border="1" class="w-100 shadow">
                <tr class="text-center">
                  <th>プラン名</th>
                  <th>単価（円）</th>
                  <th>人数</th>
                  <th>状況</th>
                  <th>制限時間</th>
                  <th>小計（円）</th>
                </tr>
                  <tr>
                    <td class="px-sm-3 px-2">{{ nomiho_order.nomiho.name }}</td>
                    <td class="text-right px-sm-3 px-2">{{ nomiho_order.nomiho.price | intcomma }}</td>
                    <td class="text-right px-sm-3 px-2">{{ nomiho_order.num }}</td>
                    <td class="px-sm-3 px-2">{{ nomiho_order.status }}</td>
                    <td class="px-sm-3 px-2">{{ nomiho_order.nomiho.duration }}</td>
                    <td class="text-right px-sm-3 px-2">{{ nomiho_order.nomiho.price|mul:nomiho_order.num | intcomma }}</td>
                  </tr>
              </table>
            </div>
            <hr />
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
