{% load static %}

<section class="p-2 header d-flex justify-content-between">
  <div class="d-flex px-3">
    <div class="m-auto logo shadow d-flex align-items-center">
      {% if request.path == '/order_manage/' %}
        <img src="{% static 'img/common/logo.svg' %}" alt="Logo" class="m-3">
      {% else %}
        <i class="mx-auto back fas fa-angle-double-left" onclick="history.back(); return false;"></i>
      {% endif %}
    </div>
    <div class="my-auto text__bold pl-3">{{ user.name }}</div>
  </div>
  <div class="px-3 my-auto d-flex">
    <a class="mr-5 back-menu" href="{% url 'restaurant:manage_menu' %}">メニューを作成・管理する</a>
    {% if request.path == '/order_manage/' %}
      <a href="{% url 'restaurant:history' %}"><i class="clipboard fas fa-clipboard-list"></i></a>
    {% endif %}
  </div>
</section>
