{% load static %}

{% block header__customer %}
<section class="pt-3 header__customer row">
  <div class="col-2">
    <div class="m-auto logo shadow d-flex align-items-center">
      {% if request.path == '/' %}
        <img src="{% static 'img/common/logo.svg' %}" alt="Logo" class="m-3">
      {% elif request.path == '/menu/' %}
        {% if request.user.img %}
          <img src="{{ request.user.img.url }}" alt="Restaurant Logo" class="m-3">
        {% else %}
          <img src="{% static 'img/common/logo.svg' %}" alt="Logo" class="m-3">
        {% endif %}
      {% elif request.path == '/manage/menu/' %}
        {% if request.user.img %}
          <img src="{{ request.user.img.url }}" alt="Restaurant Logo" class="m-3">
        {% else %}
          <img src="{% static 'img/common/logo.svg' %}" alt="Logo" class="m-3">
        {% endif %}
      {% else %}
        <i class="el__pointer m-auto py-auto back fas fa-angle-double-left" onclick="history.back(); return false;"></i>
      {% endif %}
    </div>
  </div>

  <h5 class="col-4 my-auto text__bold">
    {% if request.path == '/' %}
    　　{{ restaurant_name }}
    {% elif request.path == '/menu/' %}
      {{ restaurant_name }}
    {% elif request.path == '/manage/menu/' %}
      {{ restaurant_name }}
    {% elif request.path == '/cart/' %}
      カート
    {% elif request.path == '/history/' %}
      オーダー履歴
    {% endif %}
  </h5>

  {% if request.path != '/' %}
    <p class="col-4 my-auto text__bold">テーブル番号: {{ table_num }}</p>
  {% endif %}
  {% if request.path == '/' %}
  <!-- TODO: わんちゃんここがパスかぶってる -->
  {% elif request.path == '/history/' %}
  {% else %}
    {% if not user.is_authenticated %}
      <form action="{% url 'customer:history' %}" class="col-2 my-auto el__pointer" method="POST">{% csrf_token %}
        <!-- hidden -->
        <input type="hidden" name="random_code" value="{{ random_code }}">
        <button class="focus" type="submit">
          <i class="clipboard fas fa-clipboard-list"></i>
        </button>
      </form>
    {% endif %}
  {% endif %}
</section>
<hr class="mb-2" />
{% endblock %}
