{% load static %}

<section class="pt-3 px-2 header__customer row">
  <div class="col-2">
    <div class="m-auto logo shadow d-flex align-items-center">
      {% if request.path == '/' %}
        <img src="{% static 'img/logo.png' %}" alt="Logo">
      {% elif request.path == '/menu/' or request.path == '/manage/menu/' or request.path == '/stop/' %}
        {% if request.user.img %}
          <img src="{{ request.user.img.url }}" alt="Restaurant Logo">
        {% else %}
          <img src="{% static 'img/logo.png' %}" alt="Logo">
        {% endif %}
      {% elif request.path == '/filter/' %}
        <form onclick="history.back(); return false;" class="el__pointer m-auto">
          <!-- hidden -->
          <input type="hidden" name="table_num" value="{{ table_num }}">
          <button type="submit" class="m-auto back focus" onclick="loading_show()">
            戻る
          </button>
        </form>
      {% else %}
        <form action="{% url 'customer:menu' %}" method="POST" class="el__pointer m-auto">{% csrf_token %}
          <!-- hidden -->
          <input type="hidden" name="table_num" value="{{ table_num }}">
          <button type="submit" class="m-auto back focus" onclick="loading_show()">
            戻る
          </button>
        </form>
      {% endif %}
    </div>
  </div>

  <h5 class="col-4 my-auto text__bold">
    {% if request.path == '/' or request.path == '/menu/' or request.path == '/filter/' or request.path == '/nomiho/' or request.path == '/manage/menu/' %}
      {{ restaurant_name }}
    {% elif request.path == '/history/' %}
      ご注文履歴
    {% elif request.path == '/stop/' %}
      お会計金額
    {% endif %}
  </h5>

  <p class="col-4 my-auto text__bold">テーブル番号: {{ table_num }}</p>

  {% if request.path == '/filter/' or request.path == '/cart/' or request.path == '/menu/' or request.path == '/order/' or request.path == '/nomiho/' %}
    {% if not user.is_authenticated %}
      <form action="{% url 'customer:history' %}" class="col-2 my-auto el__pointer" method="POST">{% csrf_token %}
        <!-- hidden -->
        <input type="hidden" name="table_num" value="{{ table_num }}">
        <button class="focus" type="submit" style="padding:0;border:0" onclick="loading_show()">
          <i class="clipboard fas fa-clipboard-list"></i>
        </button>
      </form>
    {% endif %}
  {% endif %}
</section>
<hr class="mb-2" />
