{% load static %}

<section class="pt-3 px-2 header__customer row">
  <div class="col-2">
    <div class="m-auto logo shadow d-flex align-items-center">
      {% if request.path == '/' or request.path == '/menu/' or request.path == '/stop/' or request.path == '/manage/menu/' %}
        {% if request.session.restaurant_logo %}
          <img src="{{ request.session.restaurant_logo }}" alt="Restaurant Logo">
        {% else %}
          <img src="{% static 'img/logo.png' %}" alt="Default Logo">
        {% endif %}
      {% else %}
        <form action="{% url 'customer:menu' %}" method="POST" class="el__pointer m-auto">{% csrf_token %}
          <button type="submit" class="m-auto back focus" onclick="loading_show()">
            戻る
          </button>
        </form>
      {% endif %}
    </div>

    {% include 'components/restaurant/modal/company-img.html' %}
  </div>

  <h5 class="col-4 my-auto text__bold">
    {% if request.path == '/' or request.path == '/menu/' or request.path == '/filter/' or request.path == '/nomiho/' or request.path == '/manage/menu/' %}
      {% if user.is_authenticated %}
        {{ request.user.name }}
      {% else %}
        {{ request.session.restaurant_name }}
      {% endif %}
    {% elif request.path == '/history/' %}
      ご注文履歴
    {% elif request.path == '/stop/' %}
      伝票
    {% endif %}

    {% include 'components/restaurant/modal/company-name.html' %}
  </h5>

  <p class="col-4 my-auto text__bold">
    テーブル番号:
    <br
      {% if request.session.table == '管理者' %}
        class="d-block"
      {% else %}
        class="d-none"
      {% endif %}
    />
    {{ request.session.table }}
  </p>

  {% if request.path == '/filter/' or request.path == '/cart/static/' or request.path == '/menu/' or request.path == '/order/' or request.path == '/nomiho/' %}
    {% if not user.is_authenticated %}
      <form action="{% url 'customer:history' %}" class="col-2 my-auto el__pointer" method="POST">{% csrf_token %}
        <button class="focus" type="submit" style="padding:0;border:0" onclick="loading_show()">
          <i class="clipboard fas fa-clipboard-list"></i>
        </button>
      </form>
    {% endif %}
  {% endif %}
</section>
<hr class="mb-2" />
