{% load static %}
{% load humanize %}

<div class="menu-top-view">
  {% if menu.img %}
    <img class="lazyload" height=420 data-src="{{ menu.img.url }}" alt="Menu">
  {% else %}
    <img class="lazyload" height=420 data-src="{% static 'img/top-view.jpg' %}" alt="Default Img">
  {% endif %}

  {% include 'components/restaurant/modal/img.html' %}

  <div class="text-box px-sm-5 px-2 py-1">
    <p class="text-left">{{ menu.name }}</p>
    {% if menu.category.nomiho == False %}
      <p class="text-right">¥ {{ menu.price | intcomma }}</p>
    {% endif %}
  </div>

  {% include 'components/restaurant/modal/text.html' %}
</div>

<div class="px-2 py-3 menu-allergy">
  <div class="d-flex">
    <p class="text-left text__bold">アレルギー表示</p>
    <div class="ml-5">
      {% include 'components/restaurant/modal/allergy.html' %}
    </div>
  </div>
  <hr/>
  <div class="d-flex flex-wrap">
    {% for allergy in allergies %}
      {% if allergy in has_allergies %}
        <div class="allergy-box-brighten py-1 px-3 mr-1 mb-1">
          {{ allergy }}
        </div>
      {% else %}
        <div class="allergy-box py-1 px-3 mr-1 mb-1">
          {{ allergy }}
        </div>
      {% endif %}
    {% endfor %}

    {% include 'components/restaurant/modal/allergy_edit.html' %}
  </div>

  {% if menu.chef_img or menu.comment %}
    <section class="chef-wrapper">
      <p class="mt-5 text-left text__bold">シェフからのコメント</p>
      <hr/>
      <div class="row py-3 mx-auto d-flex justify-content-around">
        <div class="col-4">
          <div class="shadow chef">
            {% if menu.chef_img %}
              <img class="lazyload" data-src="{{ menu.chef_img.url }}" alt="Chef Img">
            {% endif %}
          </div>
        </div>
        <div class="col-8">
          <div class="px-2 py-3 comment shadow">
            {% if menu.comment %}
              {{ menu.comment }}
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  {% include 'components/restaurant/modal/chef.html' %}

  <!-- <div>
    <p class="mt-5 text-left text__bold">生産者からのメッセージ</p>
    <hr/>
    <div class="row mx-auto"></div>
  </div> -->
